@charset "utf-8";
/* CSS Document */
body
{font-family:Arial, Helvetica, sans-serif;
margin-top:10px;}
.left_top
{visibility:hidden;}
.mid_top
{visibility:hidden;}
.main
{font-size:20px;
position:absolute;
top:0;
left:0;
width:920px;
border-color:#fff;
border-width:0;
padding-top:0;
padding-left:0;
padding-right:0;
padding-bottom:0;}
h1
{padding-top:8px;
font-size:28px;
font-weight:650;}
h2
{font-size:22px;
font-weight:600;}
.right_top
{visibility:hidden;}
.menu
{visibility:hidden;}
.top
{visibility:hidden;}