#wrapper {
    padding-left: 0;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: all;
    transition-timing-function: ease;
}
#wrapper.toggled 
{
    padding-left:170px;
}
#sidebar-wrapper
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color:#003;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 100%;
    left: 170px;
    margin-left: -170px;
   margin-top: 0px;
   overflow-y: auto;
   position: fixed;
   transition-delay: 0s;
   transition-duration: 0.5s;
   transition-property: all;
   transition-timing-function: ease;
   width: 0;
   z-index: 1000;
}
#wrapper.toggled #sidebar-wrapper 
{
    width: 170px;
}
#page-content-wrapper 
{
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 0;
    margin-top:0;
    position: absolute;
    width: 100%;
	top:0;
}
#wrapper.toggled #page-content-wrapper 
{
    margin-right: -170px;
    position: absolute;
}
.sidebar-nav 
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 4px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    top: 0;
    width:170px;
  text-decoration-line: none;
	 }
.sidebar-nav li 
{
    line-height: 30px;
    text-indent: 10px;
}
.sidebar-nav li a 
{
    color: #fff;
    display: block;
	font-size:16px;
	text-decoration:none;
    text-decoration-line: none;
    text-decoration-style: solid;
}
.sidebar-nav li a:hover
{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #fff; 
    text-decoration-line: none;
    text-decoration-style: solid;
}
.sidebar-nav li a:active, .sidebar-nav li a:focus 
{
    text-decoration-line: none;
    text-decoration-style: solid;
}
 
.sidebar-nav > .sidebar-brand a:hover
 {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    color: #fff;
}
@media (min-width: 768px) {
	#wrapper {
  	  padding-left: 170px;
	  	margin-top:0;
		padding-top:0;
	}
#wrapper.toggled 
{
	margin-top:0;
	padding-top:0;
	padding-left: 0;
}
#sidebar-wrapper 
{
	margin-top:0;
	padding-top:0;
	width: 170px;
}
#wrapper.toggled #sidebar-wrapper
{
	margin-top:0;
    padding-top:0;
    width: 0;	
	margin-top:0;
}
#page-content-wrapper {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    position: relative;
}
#wrapper.toggled #page-content-wrapper {
    margin-right: 0;
    position: relative;
	margin-top:0;
	padding-top:0;
}
}